* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}


.top {
	height: 768px;
	background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-top: 42px;
}

.top__title {
	width: 504px;
	font-weight: 300;
	font-size: 64px;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	text-align: left;
	margin-bottom: 32px;
}

.top__heading {
	padding-top: 115px;
	flex-grow: 1;
	background-image:url(img/illustration.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.top__text {
	width: 425px;
	color: #1F3F68;
	opacity: 0.6;
}

.text {
/*	text-align: left;*/
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	opacity: 0.6;
}

.top__button {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	text-decoration: none;
	padding: 15px 50px 15px 50px;
	display: inline-block;
	margin-top: 71px;
}

.top__box {
	display: flex;
	flex-direction: column;
 	height: 100%;	
}

.content_heaging {
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.what_we_do {
	padding-top: 64px;
}

.content__cards {
	width: 359px;
	padding: 44px 32px;
	box-sizing: border-box;
	background: #FFFFFF;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.cards__title {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	margin-bottom: 14px;
}

.card__link {
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	letter-spacing: 0.05em;
	color: #5A98D0;
	padding-top: 25px;
}



.cards__box {
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	justify-content: space-between;
}

.cards__img {
	align-self: center;
	margin-bottom: 51px;
}

.card__position {
	position: relative;
}

.cover__img {
	position: absolute;
	top: 5px;
    right: 50%;
    left: 17%;
}

.cover {
	position: absolute;
}

.section__title {
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.section__text {
	width: 75%;
	margin: 32px auto 64px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #222222;
}

.section_img {
	width: 100%;
}

.section_title {
	font-size: 32px;
	line-height: 46px;
	text-align: right;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	position: absolute;
/*
	top: 64px;
	right: 64px;
*/
}

.section_item {
	position: relative;
	flex-grow: 1;
}

.section_aside {
	display: flex;
/*    justify-content: space-between;*/
	margin-top: 32px;
}

.item_margin {
	margin-right: 32px;
}

.title_position {
	top: 32px;
	left: 32px;
}

.position_title {
	top: 64px;
	right: 64px;
}

.footer__title {
	width: 341px;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-bottom: 32px;
	padding-top: 91px;
}

.footer {
	height: 657px;
	background: #316099;
	width: 100%;
}

.footer__text {
	
	width: 44%;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
}

.footer__button {
	border-radius: 0;
	padding: 15px 80px;
}

.contact__menu {
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	padding-bottom: 64px;
}

.rights {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.4;
}

.footer__contact {
	margin-top: 64px;
}

.contact_link {
/*
	display: inline-block;
	width: 316px;
*/
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
/*
	padding: 10px 10px;
	padding-left: 40px;
*/
	
	
}

.contact__item {
	list-style-type: none;
	position: relative;
	display: inline-block;
	width: 316px;
	padding-left: 40px;
	padding-right: 40px;
}

/*
.contact__item::before {
	content: "A. ";
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
*/

.contact_link::before {
	content: "A.   ";
	position: absolute;
	left: -1px;
}

.upper_footer {
	position: relative;
	margin-bottom: 91px;
}

.footer_button_position {
	position: absolute;
	top: 100px;
    right: 5px;
}

.littera_T::before {
	content: "T.   ";
	position: absolute;
	left: -1px;
}

.littera_E::before {
	content: "E.   ";
	position: absolute;
	left: -1px;
}

/*стили для contact.html*/



.contact__top__heading {
	width: 100%;
	background-image: url(img/contact_background.png);
	padding-bottom: 49px;
	padding-top: 51px;
	margin-top: 54px;
}

.contact__top__title {
	font-weight: 500;
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.contact__top__text {
	width: 52%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
}

.contact_container {
	width: 942px;
	margin: 0 auto;
}

.form {
	width: 540px;
}
